$black: #202020;
$lightGrey: #CACACA;
$bacgroundMain: #E5E5E5;
$white: #FFFFFF;
$orange: #FF6E30;
$orangeFocuse: #BC572B;
$orangeActive: #CE4307;
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url("resources/Roboto-Regular.woff2") format("woff2"), url("resources/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: local('TT Firs Neue'), url("resources/TTFirsNeueRegular.woff2") format("woff2"), url("resources/TTFirsNeueRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: local('TT Firs Neue'), url("resources/TTFirsNeueBold.woff2") format("woff2"), url("resources/TTFirsNeueBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@mixin clearListStyles {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@mixin btn {
    padding: 0;
    margin: 0;
    border: none;
    width: 20%;
    background-color: $orange;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: $white;
    cursor: pointer;
}

@mixin btnReset {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@mixin mainText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $lightGrey;
}

@mixin contentCenter {
    margin: 0 auto;
}

@mixin tag {
    position: absolute;
    top: 6px;
    right: 8px;
    background-color: $black;
    color: $white;
    padding: 6px 14px;
}

@mixin title {
    margin: 0;
    margin-bottom: 12px;
    color: $black;
    font-family: 'TT Firs Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

@mixin inputForm {
    padding: 0;
    padding-left: 23px;
    min-height: 50px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 1fr 1fr 1fr 106px;
    gap: 20px;
    height: 100vh;
    background-color: $bacgroundMain;
    outline: 0;
}

.header {
    background-color: $black;
    height: 80px;
    align-items: center;
}

.header__burger {
    @include btnReset();
    display: none;
}

.header__close-menu {
    @include btnReset();
    display: none;
}

.header__phone {
    display: none;
}

.header__container {
    @include contentCenter();
    width: 1290px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.header__logo {
    width: 190px;
    height: 31px;
}

.header__logo-link {
    display: block;
    outline: none;
}

.header__list {
    @include clearListStyles();
    display: flex;
    flex-direction: row;
}

.header__link {
    @include mainText();
    text-decoration: none;
    transition-property: color, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.header__search {
    width: 25px;
    height: 25px;
}

.header__item:not(:last-child) {
    margin-right: 81px;
}

.header__search-btn-one {
    @include btnReset();
    outline: none;
}

.header__search-btn {
    @include btnReset();
}

.header__search-input-two {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #E9E9E9;
    background-color: transparent;
    color: $white;
    font-family: 'TT Firs Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 169px;
    transform: border-color 0.3s ease-in-out;
}

.header__search-input-two::placeholder {
    color: $white;
}

.header__search-input-two:hover {
    border-color: $orangeActive;
}

.header__search-input-two::-webkit-search-cancel-button {
    display: none;
}

.header__search-two {
    position: absolute;
    right: 0;
    align-items: flex-end;
    z-index: 10;
    display: flex;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    visibility: hidden;
    transform: translateX(50%) scaleX(0);
}

.search--open {
    visibility: visible;
    transform: none;
    background-color: #202020;
}

.btn--hidden {
    opacity: 0;
    visibility: hidden;
}

.header__search-form-two {
    display: flex;
}

.header__phone-img {
    margin-right: 4px;
}

.header__number {
    color: $orange;
    font-family: 'TT Firs Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
}

// PROMO
.promo {
    padding-top: 22px;
    padding-bottom: 68px;
}

.promo__content {
    @include contentCenter();
    width: 1290px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px 30px;
}

.promo__left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 58px;
    background-image: url(../images/promo-1-1920.jpg);
    max-height: 630px;
    max-width: 630px;
    color: $white;
}

.promo__subtitle {
    margin: 0;
    margin-bottom: 18px;
    padding: 0;
    font-family: 'TT Firs Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 104%;
    color: #202020;
}

.promo__right {
    max-height: 630px;
}

.promo__photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 257px;
    gap: 30px 30px;
    grid-template-areas: "photo1 photo1" "photo2 photo3";
}

.promo__photo-big {
    grid-area: photo1;
}

.promo__photo-2 {
    grid-area: photo2;
}

.promo__photo-3 {
    grid-area: photo3;
}

.promo__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.promo__link {
    margin-bottom: 59px;
    color: $white;
    text-decoration: none;
    max-width: 159px;
    min-height: 35.5px;
    background-color: $orange;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding-top: 15.5px;
    transition-property: border, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.promo__coach {
    margin-bottom: 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.promo__name {
    font-family: 'TT Firs Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 104%;
}

.promo__date {
    margin-bottom: 19px;
    font-family: 'TT Firs Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 104%;
}

.promo__tag {
    @include tag();
    top: 14px;
    right: 17px;
}

// ABOUT 
.about {
    padding-top: 30px;
    padding-bottom: 68px;
    background-color: $black;
}

.about__container {
    @include contentCenter();
    width: 1290px;
}

.about__content {
    display: grid;
    grid-template-columns: 1fr 49%;
    grid-template-rows: 1fr;
    gap: 0 30px;
}

.about__title {
    margin: 0;
    margin-bottom: 3px;
    color: $white;
    font-family: 'TT Firs Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

.about__descr {
    @include mainText();
    margin: 0;
}

.about__img {
    margin-bottom: 20px;
    width: 100%;
}

.about__subtitle {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    font-family: 'TT Firs Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    color: $white;
}

.about__form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about__label {
    width: 75%;
}

.about__email {
    @include inputForm();
    background-color: #4A4A4A;
    color: $lightGrey;
    width: 95%;
}

.about__btn {
    @include btn();
    transition-property: border, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

//projects 
.projects {
    padding-top: 68px;
    padding-bottom: 68px;
}

.projects__container {
    @include contentCenter();
    width: 1290px;
}

.projects__title {
    @include title();
}

.projects__content {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr;
    grid-template-rows: repeat(2, 300px);
    gap: 30px 30px;
}

.projects__top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1;
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    gap: 30px;
}

.projects__card-four {
    grid-column: 3 / 5;
    grid-row: 1 / 1;
}

.projects__card-five {
    position: relative;
    grid-column: 1 / 3;
    grid-row: 2 / 2;
}

.projects__img-dif {
    display: inline-block;
    width: 100%;
}

.projects__img {
    display: inline-block;
    width: 100%;
}

.projects__picture {
    display: inline-block;
    margin-bottom: 14px;
    width: 100%;
}

.projects__img-big {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects__descr {
    margin: 0;
    margin-bottom: 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $black;
}

.projects__descr-1920 {
    margin: 0;
    margin-bottom: 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $black;
}

.projects__date {
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #999999;
}

.projects__card-big {
    object-fit: cover;
    height: 100%;
}

.projects__card-small {
    position: relative;
    max-width: 190px;
}

.projects__card-content {
    position: absolute;
    top: 27px;
    left: 30px;
    color: $white;
    height: calc(100% - 22px);
    max-width: 50%;
}

.projects__calendar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2px;
}

.projects__date-img {
    margin-right: 5px;
}

.projects__name {
    margin: 0;
    margin-bottom: 5px;
    padding-top: 2px;
    font-family: 'TT Firs Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}

.projects__info {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.projects__link {
    position: absolute;
    bottom: 33px;
    display: block;
    color: $white;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    border: 3px solid $orange;
    padding: 14.5px 20px;
    max-width: 121px;
    transition: background-color 0.3s ease-in-out;
}

.projects__tag {
    @include tag()
}

.projects__card-big {
    position: relative;
    width: 100%;
}

.projects__card-medium {
    position: relative;
}

.projects__img-medium {
    margin-bottom: 14px;
    width: 100%;
}

.projects__descr-1024 {
    display: none
}

//contscts
.contacts__container {
    @include contentCenter();
    width: 1290px;
    padding-bottom: 50px;
}

.contacts__title {
    @include title();
    margin-bottom: 22px;
}

.contacts__content {
    display: grid;
    grid-template-columns: 66% 32%;
    grid-template-rows: repeat(1, 460px);
    gap: 0 30px;
}

.contacts__map {
    max-width: 850px;
}

#map {
    height: 460px;
}

[class*="ground-pane"] {
    filter: grayscale(1);
}

.ymaps-2-1-79-copyright__link {
    display: none;
}

.ymaps-2-1-79-gototech {
    display: none!important;
}

.ymaps-2-1-79-gototaxi__container,
.ymaps-2-1-79-gotoymaps__container {
    display: none!important;
}

.ymaps-2-1-79-copyright__text {
    display: none;
}

.contacts__subtitle {
    margin: 0;
    font-family: 'TT Firs Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    color: $black;
}

.contacts__descr {
    margin: 0;
    margin-bottom: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}

.contacts__form-wrapper {
    display: flex;
    flex-direction: column;
}

.contacts__input {
    @include inputForm();
    margin-bottom: 20px;
    background-color: #E9E9E9;
    color: #999999;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: calc(100% - 23px);
}

.contacts__message {
    @include inputForm();
    margin-bottom: 20px;
    min-height: 135px;
    background-color: #E9E9E9;
    color: #999999;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-top: 15px;
}

.contacts__btn {
    @include btn();
    padding: 15px 22px;
    max-width: 126px;
    width: auto;
    transition-property: border, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.contacts__map {
    position: relative;
}

.contacts__adress-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 48%;
    background: rgba(32, 32, 32, 0.85);
    display: flex;
    align-items: center;
}

.contacts__adress {
    padding-left: 60px;
    padding-top: 23px;
    max-width: 300px;
}

.contacts__phone-img {
    margin-right: 4px;
}

.contacts__name {
    display: block;
    margin-bottom: 5px;
    color: $white;
    font-family: 'TT Firs Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
}

.contacts__details {
    margin: 0;
    margin-bottom: 2px;
    color: $lightGrey;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.contacts__phone {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contacts__number {
    color: $orange;
    font-family: 'TT Firs Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    outline: none;
}

.contacts__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
}

.contacts__close-btn {
    @include btnReset();
}

//footer 
.footer {
    background-color: $black;
}

.footer__container {
    @include contentCenter();
    width: 1290px;
    padding-top: 20px;
    padding-bottom: 26px;
    display: grid;
    grid-template-columns: 23.5% 43% 161px;
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    margin-bottom: 6px;
    outline: none;
}

.footer__left {
    display: flex;
    flex-direction: column;
}

.footer__copyrights {
    color: #E9E9E9;
    font-family: 'TT Firs Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.footer__center {
    max-width: 361px;
    color: $lightGrey;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.footer__more {
    display: block;
    margin-bottom: 8px;
    color: $lightGrey;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.footer__social {
    width: 30px;
    height: 30px;
}

.footer__logo {
    width: 190px;
    height: 31px;
}

.footer__quote {
    display: block;
}

.footer__class {
    margin-right: 20px;
}

.footer__social-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

// HOVER FOCUS 
.header__link:focus-visible {
    background-color: $orangeFocuse;
    color: $white;
    outline: none;
}

.header__link:hover {
    color: $orange;
}

.header__link:active {
    color: $orangeActive;
}

.footer__link:focus-visible .footer__social path {
    fill: $orangeFocuse;
}

.footer__link:focus-visible {
    outline: none;
}

.footer__social:hover path {
    fill: $orange;
}

.footer__social:active path {
    fill: $orangeActive;
}

.promo__link:focus-visible {
    border: 3px solid $orangeActive;
    outline: none;
}

.promo__link:hover {
    background-color: $orangeFocuse;
}

.promo__link:active {
    background-color: $orangeActive;
}

.projects__link:focus-visible {
    background-color: $orangeFocuse;
    outline: none;
}

.projects__link:hover {
    background-color: $orange;
}

.projects__link:active {
    background-color: $orangeActive;
}

.about__email {
    outline: none;
}

.about__email:focus-visible {
    outline: 1px solid $orange;
}

.about__email:hover::placeholder {
    color: $orange;
}

.about__email {
    color: $white;
}

.about__btn:focus-visible {
    border: 3px solid $orangeActive;
    outline: none;
}

.about__btn:hover {
    background-color: $orangeFocuse;
}

.about__btn:active {
    background-color: $orangeActive;
}

.contacts__input:focus-visible {
    outline: 1px solid $orange;
}

.contacts__input:hover::placeholder {
    color: $orange;
}

.contacts__input {
    color: $black;
}

.contacts__message:focus-visible {
    outline: 1px solid $orange;
}

.contacts__message:hover::placeholder {
    color: $orange;
}

.contacts__message {
    color: $black;
}

.contacts__btn:focus-visible {
    border: 3px solid $orangeActive;
    outline: none;
}

.contacts__btn:hover {
    background-color: $orangeFocuse;
}

.contacts__btn:active {
    background-color: $orangeActive;
}

.contacts__adress-wrapper--close {
    display: none;
}